#modal{
    background-color: #ff9a9af6;

    height: 100vh;
    width: 100vw;

    position: fixed;

    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 600ms;
}

#modal.hide{
    display: none;
    transition: 600ms;
}

#modal .content{
    color: rgb(65, 0, 0);
    font-size: 25px;

    width: 420px;
    
}

#modal .header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 48px;
}

#modal .header a{
    background-image: url("../extras-aula-1/icones/x.svg");
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    border: 2px solid black;

    width: 29px;
    height: 29px;

    display: flex;

    font-size: 0.01px ;
}

#modal.header h1{
    color: steelblue;

    font-size: 36px;
    line-height: 42px;
}

#modal form label{
    font-size: 30px bold;
    line-height: 16px;

    display: block;
    margin-bottom: 20px;
}

#modal form .field{
    display: flex;
}

#modal form input{
    flex:1;

    font-size: 20px;

    background-color: rgb(255, 248, 144);
    border-radius: 20px 0 0 20px;
    border: 3px solid black;
    border-right: none;
    
    outline: none;

    padding: 16px 24px;

    color: rgb(0, 0, 0);
}

#modal form button{
    width: 72px;
    height: 72px;

    background-color: var(--primary-color);

    outline: none;
    border: 3px solid black;

    cursor: pointer;

    border-radius:0 50px 50px 0;

    transition: 600ms;
    /* transform: translateX(-30px); */
}

#modal form button:hover{
    background-color: rgba(4, 0, 255, 0.623);
}

/* isso é para o modal point-created */

#modal.point .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal.point h1{
    color: lavenderblush;

    margin-top: 32px;

    font-size: 45px;
}


/* RESPONSIVE */

@media(max-width: 560px){ 
#modal .header {
    align-items: center;
    display: flex;
    margin-bottom: 48px;
    justify-content: center;
}
#modal h1{
    justify-content: center;
    font-size: 42px;
    align-items: center;
}
#modal form input {
    flex: 1;
    font-size: 15px;
    background-color: rgb(255, 248, 144);
    border-radius: 20px 0 0 20px;
    border: 3px solid black;
    border-right: none;
    outline: none;
    padding: 16px 24px;
    margin: 0 0 0 5%;
    color: rgb(0, 0, 0);
}
#modal .content {
    margin-right: 5%;
    width: 420px;
}
#modal .header a {
    position: absolute;
    bottom: 60%;
    left: 94%;
    transform: translateX(-50%);
    position: absolute;
    right: 10px;
}
        
#modal form label {
    font-size: 30px bold;
    line-height: 16px;
    display: block;
    margin-left: 26px;
    margin-bottom: 4px;
}
}
@media(max-width: 450px){ 
    #modal .header {
    align-items: center;
    display: flex;
    margin-bottom: 48px;
    justify-content: center;
}
#modal h1{
    justify-content: center;
    font-size: 42px;
    align-items: center;
}
#modal form input {
    flex: 1;
    font-size: 15px;
    background-color: rgb(255, 248, 144);
    border-radius: 20px 0 0 20px;
    border: 3px solid black;
    border-right: none;
    outline: none;
    padding: 16px 24px;
    margin: 0 0 0 5%;
    color: rgb(0, 0, 0);
}
#modal .content {
    margin-right: 5%;
    width: 420px;
}
#modal .header a {
    position: absolute;
    bottom: 60%;
    left: 94%;
    transform: translateX(-50%);
    position: absolute;
    right: 10px;
}
    
#modal form label {
    font-size: 30px bold;
    line-height: 16px;
    display: block;
    margin-left: 26px;
    margin-bottom: 4px;
    }
}
@media(max-width: 378px){
        
#modal .header {
    align-items: center;
    display: flex;
    margin-bottom: 48px;
    justify-content: center;
}
#modal h1{
    justify-content: center;
    font-size: 28px;
    align-items: center;
}
#modal form input {
    flex: 1;
    font-size: 15px;
    background-color: rgb(255, 248, 144);
    border-radius: 20px 0 0 20px;
    border: 3px solid black;
    border-right: none;
    outline: none;
    padding: 16px 24px;
    margin: 0 0 0 5%;
    color: rgb(0, 0, 0);
}
#modal .content {
    margin-right: 5%;
    width: 420px;
}
#modal .header a {
    position: absolute;
    bottom: 60%;
    left: 94%;
    transform: translateX(-50%);
    position: absolute;
    right: 10px;
}
        
#modal form label {
    font-size: 30px bold;
    line-height: 16px;
    display: block;
    margin-left: 26px;
    margin-bottom: 4px;
}
}
@media(max-width: 321px){
        
#modal .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}
#modal h1{
    font-size: 28px;
    justify-content: center;
    align-items: center;
    }
#modal form input {
    flex: 1;
    font-size: 15px;
    background-color: rgb(255, 248, 144);
    border-radius: 20px 0 0 20px;
    border: 3px solid black;
    border-right: none;
    outline: none;
    padding: 16px 24px;
    margin: 0 0 0 5%;
    color: rgb(0, 0, 0);
}
#modal .content {
    margin-right: 5%;
    width: 420px;
}
#modal .header a {
    position: absolute;
    bottom: 60%;
    left: 94%;
    transform: translateX(-50%);
    position: absolute;
    right: 10px;
}
    
#modal form label {
    font-size: 30px bold;
     line-height: 16px;
     display: block;
    margin-left: 26px;
    margin-bottom: 4px;
}
    
}